<% layout("/layouts/boilerplate") -%>
<body>
  <div class="container">
    <div class="card mb-3 mx-3 my-3">
      <div class="p-3">
        <!-----------------------------------image----------------------------------->
        <h1><%=item.title%></h1>
        <br />
        <img
          class="card-img-top img rounded mx-auto d-block indi-image"
          src="<%=item.image.url%>"
          alt="image not found"
          style="width: 40vw; height: 50vh"
        />
        <br />
        <hr />

        <!----------------------------------- listing description----------------------------------->
        <div class="card-body">
          <!-- <h2 class="card-title"><%=item.title%></h2> -->

          <div class="card-text lead"><%=item.description%></div>
          <div class="card-text lead text-secondary"><%=item.location%></div>
          <div class="card-text lead text-secondary"><%=item.country%></div>
          <div class="card-text lead text-secondary">
            &#8377;<%=item.price.toLocaleString("en-IN")%>
          </div>
          <br />
          <%if(currUser&&currUser._id.equals(item.admin._id)){%>
          <div class="row">
            <a
              href="/listings/<%=item.id%>/update"
              class="btn btn-outline-secondary col-2"
              >Edit Details</a
            >
            <form
              action="/listings/<%=item.id%>?_method=delete"
              method="post"
              class="col-3"
            >
              <button class="btn btn-outline-danger">delete</button>
            </form>
          </div>
          <br />
          <%}else{%>
          <div class="col-3">
            <a href="/booking/<%=item.id%>" class="btn btn-outline-danger"
              >Book Now</a
            >
          </div>
          <%}%>
          <hr />
          <div class="d-flex align-items-center">
            <i class="bi bi-person-circle fs-3 text-secondary"></i>
            <h5 class="mb-0 text-secondary">
              &nbsp;&nbsp; Hosted by <%=item.admin.username%>
            </h5>
          </div>
          <hr />
          <br />

          <!----------------------------------- listing offerings----------------------------------->

          <h3>What this place offers</h3>
          <br />
          <div class="row">
            <div class="col-4 left-offering">
              <div class="row d-flex flex-column">
                <span class="material-symbols-outlined col-1">
                  restaurant
                </span>
                <div class="col">kitchen</div>
              </div>
              <br />
              <div class="row d-flex flex-column">
                <span class="material-symbols-outlined col-1">
                  table_lamp
                </span>
                <div class="col">Dedicated workspace</div>
              </div>
              <br />
              <div class="row d-flex flex-column">
                <span class="material-symbols-outlined col-1"> tv </span>
                <div class="col">TV</div>
              </div>
              <br />
              <div class="row d-flex flex-column">
                <span class="material-symbols-outlined col-1"> ac_unit </span>
                <div class="col">Air conditioning</div>
              </div>
            </div>
            <br />
            <div class="col-4 right-offering">
              <div class="row d-flex flex-column">
                <span class="material-symbols-outlined col-1"> wifi </span>
                <div class="col">Wifi</div>
              </div>
              <br />
              <div class="row d-flex flex-column">
                <span class="material-symbols-outlined col-1">
                  directions_car
                </span>
                <div class="col">Free parking on premises</div>
              </div>
              <br />
              <div class="row d-flex flex-column">
                <span class="material-symbols-outlined col-1"> elevator </span>
                <div class="col">Lift</div>
              </div>
              <br />
              <div class="row d-flex flex-column">
                <span class="material-symbols-outlined col-1"> yard </span>
                <div class="col">Shared back garden - Fully fenced</div>
              </div>
            </div>
          </div>
          <br />

          <!----------------------------------- create review ----------------------------------->

          <hr />
          <%if(currUser){%>
          <h3>Leave a Review</h3>
          <form method="post" action="/listings/<%=item.id%>/reviews">
            <label for="Username" class="form-label">Username</label>
            <input
              type="text"
              id="username"
              name="review[author]"
              class="form-control col-6"
              value="<%=currUser.username%>"
              readonly
            />
            <br />
            <label for="no-rate">Rating :</label>
            <fieldset class="starability-slot">
              <br />
              <input
                type="radio"
                id="no-rate"
                class="input-no-rate"
                name="review[rating]"
                value="1"
                checked
                aria-label="No rating."
              />
              <input
                type="radio"
                id="first-rate1"
                name="review[rating]"
                value="1"
              />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input
                type="radio"
                id="first-rate2"
                name="review[rating]"
                value="2"
              />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input
                type="radio"
                id="first-rate3"
                name="review[rating]"
                value="3"
              />
              <label for="first-rate3" title="Average">3 stars</label>
              <input
                type="radio"
                id="first-rate4"
                name="review[rating]"
                value="4"
              />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input
                type="radio"
                id="first-rate5"
                name="review[rating]"
                value="5"
              />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
            <br />
            <label for="comment" class="form-label">comment</label>
            <textarea
              type="text"
              name="review[comment]"
              id="comment"
              class="form-control"
              rows="5"
              required
            ></textarea
            ><br />
            <button class="btn btn-outline-secondary">submit</button>
          </form>
          <%}%>
        </div>
        <br />

        <!-----------------------------------all reviews ----------------------------------->
        <% if(item.reviews.length>0){%>
        <h3>All reviews</h3>
        <% } else{ %>
        <h3>No reviews</h3>
        <% } %>
        <div class="row">
          <% for(review of item.reviews){ %>
          <div class="card col-3 border m-3 review">
            <div class="card-body">
              <div class="card-title">@<%=review.author.username%></div>

              <p
                class="starability-result"
                data-rating="<%=review.rating%>"
              ></p>

              <div class="card-text"><%=review.comment%></div>
              <br />
              <% if(currUser && currUser._id.equals(review.author._id)){%>
              <form
                action="/listings/<%=item.id%>/reviews/<%=review.id%>?_method=delete"
                method="post"
              >
                <button class="btn btn-outline-danger b-3">delete</button>
              </form>
              <%}%>
            </div>
          </div>
          <% } %>
        </div>
        <!----------------------------------- google maps ----------------------------------->
        <hr />
        <br />
        <h3 class="lead">📍 We’re Here!</h3>
        <br />

        <iframe
          width="100%"
          height="450"
          style="border: 0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps?q=<%=item.location%>+<%=item.country%>&output=embed"
        ></iframe>
      </div>
    </div>
  </div>
</body>
